:root {
    --dark: #212121;
    --light: #f3f3f3;
    --font: "Roboto", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font);
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    width: 100%;
    line-height: 1.6;
}
/* phan gioi thieu */
.container {
    background: #fff;
    position: relative;
}

.header,
.header-wrapper {
    background-position: 50% 0;
    background-size:    cover;
    position: relative;
    transition: background-color .3s, opacity .3s;
    width: 100%;
    z-index: 30;
}

.header-fixed {
    /* left: 0; */
    margin: 0 auto;
    position: fixed;
    /* right: 0; */
    /* top: 0; */
    box-shadow: 1px 1px 10px rgba(0,0,0,.15);
}
/* top-bar */
.top-bar {
    min-height: 30px;
    background-color: #3a3535;
    position: relative;
    z-index: 11;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.header .flex-row {
    height: 100%;
}

.flex-row {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    justify-content: space-between;
}

.container-header,
.container-footer {
    padding: 0 15px;
    margin: 0 auto;
    max-width: 1080px;
}

.introduce-top-bar {
    font-size: 12px;
    color: #fff;
    font-weight: 600;
}

.social-top-bar {
    display: flex;
    align-items: center;
}

.social-top-bar a.icon-top-bar {
    margin: 0 0.3rem;
    font-size: 13px;
    cursor: pointer;
    color: #fff;
}
/* header-main */
.header-main {
    height: 83px;
    position: relative;
    z-index: 10;
}

.header-fixed .header-main {
    height: 70px !important;
    background-color: rgba(255, 255, 255, 0.7);
}

.header-inner {
    border-bottom: 1px solid #ccc;
}

.logo {
    width: 200px;
    margin: 0 30px 0 0;
    line-height: 0;
    max-height: 100%;
}

.logo a {
    color: #3a3535;
    display: block;
    font-size: 32px;
    font-weight: bolder;
    margin: 0;
    text-decoration: none;
    text-transform: uppercase;
    background-color: transparent;
}

.header-logo {
    max-height: 83px;
    display: block;
    width: auto;
    opacity: 1;
    max-width: 100%;
}

.header-menu {
    max-height: 100%;
    margin-right: auto;
    flex: 1;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: flex-end;
    flex-grow: row nowrap;
    width: 100%;
}

.header-menu__child {
    margin: 0 9px;
    display: inline-block;
    list-style: none;
    padding: 0;
    position: relative;
}

.header-menu__child.avtive {
    color: #d100b8;
}

.header-menu__child:first-child {
    margin-left: 0;
}

.header-menu__child:last-child {
    margin-right: 0;
}

.header-menu__link {
    text-decoration: none;
    color: #4f4f4f;
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: .05em;
    display: flex;
    align-items: center;
    padding: 10px 0;
    flex-wrap: wrap;
}

.header-menu__link i {
    height: 13px;
    font-size: 10px;
    opacity: 0.6;
    margin-left: 3px;
}

.header-menu__link::before {
    content: " ";
    position: absolute;
    height: 3px;
    left: 50%;
    opacity: 0;
    bottom: 0;
    top: auto;
    color: #d100b8   !important;
    background-color: #d100b8;
    transform: translateX(-50%);
    transition: all .3s;
    width: 100%;
}

.header-menu__link:hover,
.header-menu__child:hover .header-menu__link:before {
    color: #d100b8;
    opacity: 1;
}

.header-menu__child.active .header-menu__link, 
.header-menu__child.active .header-menu__link:before {
    color: #d100b8;
    opacity: 1;
}

.header-menu__search-child {
    border-radius: 50%;
    background-color: #4f4f4f!important;
    border-width: 1px;
    margin-left: 10px;
    padding: 4px 9px;
    object-fit: cover;
}

.header-menu__search-child > i {
    color: #fff;
    font-size: 15px;
}

.header-menu__search-child:hover {
    background-color: #dd3333!important;
    cursor: pointer;
}

.header-menu__search-child:hover + .nav-dropdown__search,
.nav-dropdown__search:hover,
.header-menu__link:hover + .nav-dropdown__menu,
.nav-dropdown__menu:hover {
    display: block;
    opacity: 1;
}

.nav-dropdown__search,
.nav-dropdown__menu {
    position: absolute;
    min-width: 260px;
    background-color: #fff; 
    box-shadow: 1px 1px 15px rgba(0,0,0,.15);
    height: 100%;
    padding: 20px;
    left: 0;
    display: none;
    /* opacity: 0; */
    transition: opacity 0.3s ease; 
    z-index: 10000;   
    border-radius: 3px;
}

.nav-dropdown__search {
    top: 39px;
    height: 84px;
}

.nav-dropdown__menu {
    height: 130px;
    top: 43px;
}

.nav-dropdown__menu {
    width: 100%;
}

.nav-dropdown__menu a{
    text-decoration: none;
    display: block;
    padding: 10px;
    color: #4f4f4f;
    font-weight: bolder;
}

.nav-dropdown__menu a:first-child{
    border-bottom: 1px solid #ccc;
}

.nav-dropdown__search::after {
    content: "";
    position: absolute;
    min-width: 260px;
    height: 50px;
    background-color: transparent;
    left: 0;
    top: -35px;
    z-index: 1;
}


.nav-dropdown__input {
    display: flex;
    align-items: center;
}

.nav-dropdown__input input{
    background-color: #fff;
    color: #333;
    max-width: 100%;
    width: 220px;
    border: 1px solid #ccc;
    padding: 10px 12px;
    font-weight: 600;
    font-size: 15px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    outline: none;
}

.nav-dropdown__input button{
    padding: 10px;
    font-size: 16.5px;
    background-color: #d100b8;
    color: #fff;
    outline: none;
    border: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}

.nav-dropdown__input button:hover {
    background-color: #bd01a7;
}

/* main */
.main {
    background-color: #fff;
    position: relative;
    max-width: 1080px;
    margin: 0 auto;
}

.container-main {
    margin: 30px 0;
}

.row {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
}

.content-main__first {
    margin: 0;
    padding: 0 15px 30px;
    position: relative;
    width: 100%;
}

.content-main__first p {
    margin-bottom: 21px;
    line-height: 1.6;
}

.content-main__first p:nth-child(2){
    font-weight: bolder;
}

.content-main__first img {
    margin-bottom: 21px;
    margin: 0 auto;
    display: block;
}

/* footer */

.footer {
    position: relative;
    width: 100%;
    background-color: rgb(235, 235, 235);
}

.section {
    height: 400px;
    min-height: auto;
}

.col {
    margin: 0;
    padding: 0 15px 30px;
    position: relative;
    width: 100%;
}

.col-recipe {
    margin: 0;
    padding: 0 30px 30px;
    position: relative;
    width: 100%;
}

.col-9 {
    flex-basis: 75%;
    max-width: 75%;
}

.col-5 {
    flex-basis: 50%;
    max-width: 50%;
}

.col-4 {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
}

.col-3 {
    flex-basis: 25%;
    max-width: 25%;
}

.footer-first__card h2,
.footer-second__card h2{
    color: #d100b8;
    font-weight: bolder;
    line-height: 1.3;
    margin-bottom: 13px;
}

.footer-first__card h2 {
    text-align: center;
}

.footer-second__card h2 {
    margin-top: 20px;
}

.footer-first__card p {
    font-weight: bolder;
    line-height: 1.6;
    text-align: center;
}

.footer-first__card p {
    margin-bottom: 21px;
}

.footer-social {
    display: flex;
    align-items: center;
}

.footer-end {
    background-color: #4f4f4f;
    padding: 10px 0 15px;
}

.footer-end__quote {
    color: rgba(255, 255, 255, 0.5);
    font-weight: bolder;
    font-size: 14.4px;
    text-align: center;
}

.icon-footer-social {
    width: 31px;
    height: 31px;
    margin: 0 3.5px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}


.icon-footer-social:first-child {
    margin-left: 0;
}

.icon-footer-social:last-child {
    margin-right: 0;
}

.icon-footer-social i {
    color: #fff;
}

.footer-social__facebook {
    background-color: #3a589d!important;
}

.footer-social__instagram {
    background-image: linear-gradient(0deg, #405DE6, #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D, #F56040, #F77737, #FCAF45, #FFDC80);
}

.footer-social__twitter {
    background-color: #2478ba!important
}

.footer-social__envelop {
    background-color: #111!important
}

.footer-social__youtube {
    background-color: #c33223!important
}

/* trang công thức làm bánh */

.container-recipe {
    max-width: 1110px;
    padding-left: 0;
    padding-right: 0;
}

.container-recipe h1 {
    color: #d100b8;
    font-size: 18.4px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bolder;
}

.row-col {
    margin-right: -15px;
    margin-left: -15px;
    padding-left: 0;
    padding-right: 0;
    width: auto;
    flex-wrap: wrap;
}

.col-inner {
    position: relative;
    box-shadow: 0 1px 3px -2px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
    transition: transform .3s,box-shadow .3s,background-color .3s,color .3s,opacity .3s;
}

.col-inner a {
    text-decoration: none;
}

.card-recipe__image {
    object-fit: cover;
    height: 208px;
}

.card-recipe__body {
    text-align: center;
    padding: 11px 10px 20px 10px;
    border: 1px solid #ccc;
    margin-top: 0;
}

.card-recipe__body h3 {
    color: #d100b8;
    font-size: 16.56px;
    margin: 1.6px 0;
    font-weight: 700;
}

.card-recipe__divide {
    width: 30px;
    height: 2px;
    margin: 7.2px auto;
    background-color: rgba(0,0,0, .1);
}

.card-recipe__description {
    margin: 1.6px 0;
    color: #000000;
    font-size: 14.4px;
    font-weight: bolder;
}

.card-recipe__badge {
    position: absolute;
    top: 7%;
    left: -6px;
    color: #3a3535;
    border: 2px solid #3a3535;
    background-color: #fff;
    font-weight: bolder;
    line-height: 1.2;
    padding: 5px 10px;
    text-align: center;
    transition: background-color 0.5s ease;
}

.card-recipe__badge-day {
    font-size: 15px;
}

.card-recipe__badge-month {
    font-size: 11px;
}

.col-inner:hover .card-recipe__badge {
    background-color: #3a3535;
    color: #fff;
}

.border-right {
    border-right: 1px solid #ccc;
}

.recipe-pagination {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 5px 0;
}

.recipe-pagination li {
    margin: 0 5.4px;
    cursor: pointer;
}

.recipe-pagination li:first-child {
    margin-left: 0;
}

.recipe-pagination li:last-child {
    margin-right: 0;
}

.recipe-pagination__number {
    border: 2px solid #3a3535;
    border-radius: 50%;
    display: block;
    padding: 2px 11px;
    font-size: 15px;
    font-weight: bolder;
}

.recipe-pagination__number.active {
    background-color: #3a3535;
    color: #fff;
}

.recipe-pagination__number i {
    font-size: 12px;
    /* height: 10px; */
}

.recipe-pagination__number:hover {
    background-color: #3a3535;
    color: #fff;
}

.recipe-pagination__dot {
    border: 2px solid #3a3535;
    border-radius: 50%;
    display: block;
    padding: 1px 8px;
    font-weight: bolder;
}

/* sidebar */
.recipe-sidebar {
    position: fixed;
    width: 100%;
}

.recipe-sidebar__header {
    font-size: 1rem;
    font-weight: bolder;
    color: #000000;
}

.recipe-sidebar__divide {
    width: 30px;
    height: 3px;
    margin: 10px 0;
    background-color: rgba(0,0,0, .1);
}

.recipe-sidebar__title {
    font-size: 16px;
    margin-bottom: 21px;
    font-weight: bolder;
}

.recipe-sidebar__option {
    list-style: none;
}

.recipe-sidebar__option-item {
    font-size: 16px;
    font-weight: bolder;
    margin-bottom: 21px;
}

.recipe-sidebar__option-item a {
    text-decoration: none;
    color: #d100b8;
}

/* phan lien he */
.content-main__first h2 {
    text-align: center;
    line-height: 1.3;
    font-size: 25.6px;
    color: #d100b8;
    margin-bottom: 13px;
}

.content-main__first .content-main__first-site {
    color: #d100b8;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label{
    display: block;
    color: #222;
    font-weight: bolder;
    font-size: 14.4px;
}

.form-control,
.form-textarea {
    width: 100%;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    border: 1px solid #ddd;
    padding: 0 10.4px;
    color: #333;
    height: 33px;
    outline: none;
    font-weight: bolder;
}

.error {
    color: #fa011a;
    font-size: 12px;
    margin-top: 3px;
}

.form-textarea {
    height: 120px;
}

.button-contact {
    background-color: #3a3535;
    padding: 0 18px;
    color: #fff;
    outline: none;
    border: none;
    font-size: 16px;
    text-transform: uppercase;
    min-height: 39px;
    font-weight: bolder;
}